@charset "UTF-8";
/* CSS Document */

html, body{
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One",sans-serif;
}

/*  Header menyerna SEK osv... */
#topHeader
{
    background-color: lightgrey;
    margin: 0;
    width: 100%;
}

#topHeader > h1
{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 24pt;
    padding: 25px;
   /* margin: 15px;*/
    margin: 0;
    padding-left: 250px;
}

#topHeader > #option1 {
    position: absolute;
    top: 0px;
    right: 15px;
    list-style: none;
    font-size: 9pt;
}


#topHeader > #option2
{
    display:flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    justify-content: flex-end;
    padding-right: 15px;
    padding-bottom: 5px;
}

#topHeader > #option2 > li > a > img
{
    width: 30px;
    height: 30px;
}



/*
#topHeader > #option2
{
    position: absolute;
    top: 0px;
    right: 150px;
    list-style: none;
    font-size: 9pt;
}

#topHeader > #option2 > li > img
{
    width: 25px;
    height: 25px;
}

#topHeader > #option2 > #login > img
{
    position: absolute;
    padding-left: 50px;
}

#topHeader > #option2 > #onskelista > img
{
    position: absolute;
    padding-left: 25px;

}

#topHeader > #option2 > #kassa > a > img
{
    position: absolute;
    padding-left: 25px;
    width: 25px;
    height: 25px;

}

*/


#topHeader > #option1 > li > img
{
    width: 25px;
    height: 20px;
}

/* Top Nav här */
/* Navigationen ( menyn _) *//************************************************************
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav > ul > li > a > img{
    width: 25px;
    height: 25px;
    padding-top: 10px;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #aaa;
    color: #444;
    cursor: default;
}

/* Under menyn *//************************************************************
.nav li li {
    font-size: .8em;
}

/* Main börjar här */

main
{
    /*border-right-style: solid;
    border-left-style: solid;*/
    border-color: black;
    width: 1000px;
    margin: 0 auto;
    clear: both;
}

main > #offer{
    width: 960px;
    display: flex;
    flex-direction: column;

}

main > #offer > header > figure > img{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    display: block;

}
main > #offer > header > figure > ol{

    list-style-type: none;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    background-color: #D11216; /*no background color, should be placed inside image offer, just visual to see*/
    margin: 0;
    padding: 10px 10px 10px 10px;
    color: #f1f1f1;
    flex: 1;
    padding: 10px;
    position: relative;
    left: 65px;

}


main > #offer > figure > ol > li{
    font-size: 16pt;
    margin: 0;

}

main > section > figure > img
{
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Offer header section */
/*#offer > header h2
{
    text-align: center;
    border-style: solid;
}
*/
#offer > header
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* topSeller section home-index */
main > #index-topSeller > header > h2{
    display: block;
    text-align: center;
    border-bottom: 0.5pt solid #62a395;
    padding: 10px;
    margin: 0 auto;
}


main > #index-topSeller > .products
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1000px;
}

main > #index-topSeller > .products > .index-Product{
    justify-content: space-between;
}
main > #index-topSeller > .products > .index-Product > img
{
    width: 5.5cm;
    height: auto;
}

main > #index-topSeller > .products > .index-Product >.heart-It
{
    background: url("images/icons/icone_heart.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
main > #index-topSeller > .products > .index-Product >.shoppingBag
{
    background: url("images/icons/icon_shopping_bag.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}


/* topSeller section dam herr barn */
#containerCategories
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;

}
#topSeller figure
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 3 70%;
}
.Categories
{
    padding: 5px 10px 5px 10px;
    margin: 20px 0 20px 0;
    flex: 1 30%;
    border-right: 0.7pt solid black;
    width: 140px;
    height: 200vh;
}
.Categories header > h4
{
    font-weight: bold;
    text-align: left;
}
.Categories > ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.Categories > ul >li
{
    font-size: 11pt;
    line-height: 16pt;
    padding: 0;
    list-style-type: none;

}

#topSeller
{
    width: 800px;
}
/*buttons gilla och lägg i shoppingbag*/
#topSeller > .firstProduct > #product1 > .shoppingBag{
    background: url("images/icons/icon_shopping_bag.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product1 > .heart-It{
    background: url("images/icons/icone_heart.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product2 > .shoppingBag{
    background: url("images/icons/icon_shopping_bag.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product2 > .heart-It{
    background: url("images/icons/icone_heart.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product3 > .shoppingBag{
    background: url("images/icons/icon_shopping_bag.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product3 > .heart-It{
    background: url("images/icons/icone_heart.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product4 > .shoppingBag{
    background: url("images/icons/icon_shopping_bag.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product4 > .heart-It{
    background: url("images/icons/icone_heart.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product5 > .shoppingBag{
    background: url("images/icons/icon_shopping_bag.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product5 > .heart-It{
    background: url("images/icons/icone_heart.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product6 > .shoppingBag{
    background: url("images/icons/icon_shopping_bag.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}
#topSeller > .firstProduct > #product6 > .heart-It{
    background: url("images/icons/icone_heart.png") no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}


#topSeller > header > h2
{
    text-align: center;
}

main > #topSeller > figure.firstProduct
{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
main > #topSeller > figure.firstProduct > img
{
    height: auto;
    width: 5.5cm;
}

/*main > #topSeller > figure.firstProduct
{
    float: left;
    padding-left: 10px;
}

main > #topSeller > figure.firstProduct > #product1
{
    float: left;
    padding-left: 10px;
}
*/
main > #topSeller > figure.firstProduct > #product1 > img
{
    height: auto;
    width: 5.5cm;
}
/*
main > #topSeller > figure.firstProduct > #product2
{
    float: left;
    padding-left: 10px;
}
*/
main > #topSeller > figure.firstProduct > #product2 > img
{
    height: auto;
    width: 5.5cm;
}
/*
main > #topSeller > figure.firstProduct > #product3
{
    float: left;
    padding-left: 10px;
}
*/

main > #topSeller > figure.firstProduct > #product3 > img
{
    height: auto;
    width: 5.5cm;
}
/*
main > #topSeller > figure.firstProduct > #product4
{
    float: left;
    padding-left: 10px;
}
*/

main > #topSeller > figure.firstProduct > #product4 > img
{
    height: auto;
    width: 5.5cm;
}
/*
main > #topSeller > figure.firstProduct > #product5
{
    float: left;
    padding-left: 10px;
}
*/

main > #topSeller > figure.firstProduct > #product5 > img
{
    height: auto;
    width: 5.5cm;
}
/*
main > #topSeller > figure.firstProduct > #product6
{
    float: left;
    padding-left: 10px;
}
*/

main > #topSeller > figure.firstProduct > #product6 > img
{
    height: auto;
    width: 5.5cm;
}


/* Footer section här */
footer
{
    background-color: lightgrey;
    text-align: center;
    float: left; :important;
    width: 100%;
}
.footerNav
 {
     float: right;
     margin-top:5px;
 }

.footerNav ul
{
    list-style-type: none;
    display: inline;
    float:right;
    margin: 0;
}
footer > #footerNav > ul > li
{
    list-style: none;
    text-align: right;
    float: right;
    display: inline;
}

footer > p:first-of-type
{
    text-align: left;
    padding-left: 40px;
    padding-top: 45px;
}

footer > p:nth-of-type(2)
{
    text-align: right;
}



.footerNav span
{
    margin-top: -20px;
}
footer > div.footerNav > ul > li > a > img:first-child
{
    width: 50px;
    height: 50px;
}

footer > div.footerNav > ul > li > a > img:nth-child
 {
     width: 40px;
     height: 40px;
 }

/*footer > div.footerNav > li
{
    padding: 5px;
}*/
/* höjd=7cm // bredd=5.5cm = Bilderna på Produkterna som visas */



/*******************************************
650px Mobila enheter detta är för menyn bara
********************************************/
/************************************************************
@media screen and (min-width: 650px) {
    .nav li {
        width: 130px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -4px;
    }

    .nav a {
        border-bottom: none;
    }

    .nav > ul > li {
        text-align: center;
    }

    .nav > ul > li > a {
        padding-left: 0;
    }

    /* Under menyer *//************************************************************
    .nav li ul {
        position: absolute;
        display: none;
        width: inherit;
    }

    .nav li:hover ul {
        display: block;
    }

    .nav li ul li {
        display: block;
    }
    main > section > figure > img {
        width: 100%;
        height: auto;
        margin-left: 0;

    }

}
/************************************************************/


/* kolla denna*/
@media screen and (max-width: 40.5em)  {

    #topHeader > h1
    {
        width: 30%;
        float: left;
    }

    #option1
    {
        width: 30%;
        float: left;
    }

    #option2
    {
        width: 30%;
        float: left;
    }

    .searchBox
    {
        width: 30%;
        float: left;
    }

    .nav
    {

    }

    #topHeader
    {
        display:none;
    }

    main > section > figure > img
    {
        width: 30%;
        float: left;
        height: 30%;
    }

    main > #offer > header > figure > img
    {
        width: 30%;
        float: left;
    }

    main > #offer > header > figure > ol > li
    {
        width: 30%;
        float: left;
    }

    main > #topSeller > header > h2
    {
        width: 30%;
        float: left;
    }

    main > #topSeller > figure.firstProduct > #product1 > img
    {
        width: 20%;
        height: 20%;
        float: left;
    }

    main > #topSeller > figure.firstProduct > #product2 > img
    {
        width: 20%;
        height: 20%;
        float: left;
    }

    main > #topSeller > figure.firstProduct > #product3 > img
    {
        width: 20%;
        height: 20%;
        float: left;
    }

    footer > div.footerNav > li > a > img
    {
        width: 40px;
        float: left;
    }
}


/* Checkout page */

section > img
{
    width: 100px;
    height: 100px;
}

.nestledContainer
{
    border-top: solid;
    border-bottom: solid;
    border-color: #444;
    padding: 10px;
}

#mainCheckout > section > form
{

}

.container
{
    display: flex;
    flex-direction: column;
}

.container > h1
{
    justify-content: flex-start;
}

.nestledContainer
{
    display: flex;
    flex-direction: row;
}

.nestledContainer, p, img, form
{
    justify-content: space-between;
}

.totalPay
{
    display: flex;
    flex-direction: row;
}

.totalPay, p
{
    justify-content: space-between;
}

.totalPay p:first-child
{
    font-weight: bold;
}

/* Chekhout Form Style*/

div.fraktInfo
{
    border: solid black thin;
    width: 500px;
    background-color: darkgray;
}

div.fraktInfo > fieldset
{

    margin: 15px 15px 15px 15px;
    padding: 10px;
}

div.fraktInfo > fieldset > legend
{
    font-size: 20px;
    color: white;
    width: 100%;
    padding: 5px;
}

div.fraktInfo > fieldset > label.field
{
    text-align: right;
    width: 100px;
    float: left;
    font-weight: bold;
}

div.fraktInfo > input.textbox-300
{
    width: 300px;
    float: left;
}

div.fraktInfo > fieldset p
{
    clear: both;
    padding: 5px;
}

.skickaKnapp
{
    background: linear-gradient(#49708f, #293f50);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
}

.skickaKnapp:hover {
    background: #77a198;
}


/*Sök boxen */
.searchBox
{

    padding: 0px;
    margin: 0px auto 0px auto;
    background: #444;
    float: right;
    padding-bottom: 23px;
}

.searchBox > button
{

}

/*Checkout page FRAKT SÄTT */
.fraktType > img
{
    width: 45px;
    height: 40px;
}
/************************************************************ NAV HÄR nya */
div.nav > ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    text-align: center;
}

div.nav > ul > li
{
    display: inline-block;
}

li a, .dropbtn
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.nav > ul > li a:hover, .dropdown:hover .dropbtn
{
    background-color: #005f5f;
}

li.dropdown
{
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover
{
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content
{
    display: block;
}